@use "./base.scss";

// put your custom CSS here!

:root {
    font-size: 18px;
}

a {
    letter-spacing: 1px;
}

.folder-container div>button span {
    font-size: 1.2rem;
    font-weight: 500;   
}